# Virtual environment
.venv/
venv/
env/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Windows system files
desktop.ini
Thumbs.db

# Executables
*.exe

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store

# Logs
*.log
logs/

# Environment variables
.env

# Methodology / presentation drafts
Methodology Presentation*